.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  button {
    margin-block: 10px;
    font-size: 20px;
  }
}
html {
  font-size: 20px;
}
